<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'BSSxTapjoy Wallet', root_path, class: "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "Merchants", merchants_path  %></li>
          <li><%= link_to "Consumers", consumers_path  %></li>
          <li><%= link_to "Offers", offers_path  %></li>
          <li><%= link_to "Coupons", coupons_path  %></li>
          <% if consumer_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_consumer_session_path, :method => :delete) %>        
            </li>
          <% elsif merchant_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_merchant_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
            <%= link_to('Consumer Login', new_consumer_session_path)  %>  
            </li>
            <li>
            <%= link_to('Merchant Login', new_merchant_session_path)  %>  
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>