<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>


<body>

  <%= render 'layouts/nav_links' %>
  
  <div class="container">
    <%= render 'shared/display_flash' %>
    <%= render 'shared/error_explanation' %>
    <div class="row">
        <%= yield %>
        
    </div>
  </div>



</body>
</html>
